@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;

}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #778899;
}

.containers{
    width:1000px;
    min-height: 54vh;
    padding:0px;
    margin: 0px;
    border-radius:30px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #596d7a;
    color:white



}
button{
    background-color: rgb(216, 207, 192);
    color:black
}
.quote-container{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.quote-content{
    width:80%;
    height:100%;
    font-size: 2rem;

}
.opening-quote{
    width:90%;
    height:5rem;
    margin: auto;
}
.closing-quote{
    width:100%;
    height:fit-content;
    text-align: end;
    margin: auto;
    padding-right: 3rem;
}
.author{
    text-align: end;
    padding-right: 2rem;
    margin-bottom: 1rem;
}
.quote-btn{
    width:100%;
    height: 100%;
}
.new-quote{
    margin-left: 0px;
    padding-left: 0px;
    width:100%;
    border: none;
    padding:1rem;
    display: block;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.tweet{
    padding: .5rem 2rem;
    border-top-right-radius:30px;
    border-bottom-left-radius: 30px;
    border: none;

}
.tweet-btn{
    width:100%;
    text-align: end;
}

img{
    height:3rem
}

a{
    text-decoration: none !important;
    color:black !important
}


@media only screen and (max-width:700px){

    .containers{
        width:400px;
    }
    .quote-content{
        font-size: 1.4rem;

    }
    .closing-quote{
        padding-right: 1rem;
    }
    .author{
        padding-right: 1rem;
    }

}

